<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bom Católico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
    <a class="floating-button" href="{{url_for('register')}}">Criar conta</a>
    <div class="login-container">
        <h1>Entrar</h1>
        {% if error%}
        <p class="erro">{{error}}</p>
        {% endif%}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                {{ form.senha }}
            </div>
            {{ form.submit }}
            <div class="recsenha"><a class="link" href="{{url_for('recuperarsenha')}}">Esqueci minha senha</a></div>
        </form>
    </div>
    
</body>
</html>