<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bom Católico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
    <a class="floating-button" href="{{url_for('login')}}">Entrar</a>
    <div class="login-container">
        <h1>Insira seu email</h1>
        {% if error%}
        <p class="erro">{{error}}</p>
        {% endif%}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email }}
            </div>
            {{ form.submit }}
        </form>
    </div>
    
</body>
</html>