@font-face {
    font-family: OldLondon;
    src: url('OldLondon.ttf'),
         url('Olondona.otf');
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.menu {
    padding: 15px;
    border: none;
    background-color: white;
    color: black;
}

h1 .main-title {
    font-size: 70px;
    font-family: OldLondon, 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.header-branco {
    width: 100%;
    height: 10px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.header-verde {
    width: 100%;
    height: 10px;
    box-shadow: 0 10px 8px 2px rgba(0, 200, 0, 0.5);
}

.header-roxo {
    width: 100%;
    height: 10px;
    box-shadow: 0 10px 8px 2px rgba(129, 0, 165, 0.5);
}

.header-vermelho {
    width: 100%;
    height: 10px;
    box-shadow: 0 10px 8px 2px rgba(255, 0, 0, 0.5);
}

header {
    background-color: #fff;
    color: black;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul button a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.menu:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.user-space {
    position: absolute;
    top: 20px;
    right: 40px;
}

.link {
    background-color: white;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.link:hover {
    background-color: #f1f1f1;
}

.dropbtn {
    background-color: white;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f1f1f1;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #f1f1f1;
}

.corpo {
    margin: auto;
    padding: 50px;
    max-width: 1000px;
}

.periodo {
    font-weight: bold;
    font-size: 26px;
    margin: 20px;
}

.festa {
    margin-bottom: 10px;
    font-size: 18px;
}

.titulo-classe {
    font-weight: bold;
    font-size: 18px;
}

.festas {
    position: relative;
}

.banner {
    max-width: 100%;
    height: auto;
}

.festas-texto-branco {
    position: absolute;
    left: 70%;
    top: 50%;
    color: white;
    max-width: 400px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.festas-texto-preto {
    position: absolute;
    left: 70%;
    top: 50%;
    color: black;
    max-width: 400px;
    text-align: center;
    transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
    .user-space-container {
        width: 100vp;
        padding: 25px;
    }
    .festas-texto-branco {
        position: static;
        color: black;
        transform: translate(0%, 0%);
    }
  }