@font-face {
    font-family: OldLondon;
    src: url('OldLondon.ttf'),
         url('Olondona.otf');
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 70px;
    font-family: OldLondon, 'Times New Roman', Times, serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

header {
    background-color: #fff;
    color: black;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.user-space {
    position: absolute;
    top: 20px;
    right: 40px;
}

.link {
    background-color: white;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.dropbtn {
    background-color: white;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f1f1f1;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #f1f1f1;
}