<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <title>Church Information</title>
    <!-- Add any additional meta tags, CSS or scripts here -->
</head>

<body>
    <!-- Header -->
    <header>
        <h1>BOM CATÓLICO</h1>
        <nav>
            <ul>
                <li><a href="#">Calendário Litúrgico</a></li>
                <li><a href="#">Horários de Missa</a></li>
                <!-- Add more menu items or pages as needed -->
            </ul>
        </nav>
    </header>

    <!-- Main content -->
    <main>
        <section>
            <h2>Welcome to the Church Information Website</h2>
            <!-- Add more content or information about the website here -->
        </section>

        <section>
            <h3>Church 1</h3>
            <!-- Placeholder for information about Church 1 -->
        </section>

        <section>
            <h3>Church 2</h3>
            <!-- Placeholder for information about Church 2 -->
        </section>

        <!-- Add more sections for other churches or information as needed -->
    </main>

    <!-- Footer -->
    <footer>
        <!-- Add footer content here, such as copyright information -->
    </footer>
</body>

</html>
