<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>Bom Católico</title>
    <!-- Add any additional meta tags, CSS or scripts here -->
</head>
<body>
    <header>
        <div class="user-space-container">
        <div class="user-space">
            {% if name %}
            <div class="dropdown">
                <button class="dropbtn">{{ name }}</button>
                <div class="dropdown-content">
                  <a href="#">Configurações</a>
                  <a href="{{ url_for('logout') }}">Sair</a>
                </div>
            </div>
            {% else %}
            <a class="link" href="{{url_for('register')}}">Criar conta</a>
            <a class="link" href="{{url_for('login')}}">Entrar</a>
            {% endif %}
        </div>
        </div>
        <h1><a class="main-title" href="{{ url_for('home') }}">Bom Católico</a></h1>
        <nav>
            <ul>
                <button class="menu"><a href="#">Calendário litúrgico</a></button>
                <button class="menu"><a href="#">Horários de missa</a></button>
                <button class="menu"><a href="#">Marketplace</a></button>
                <button class="menu"><a href="{{ url_for('userarea') }}">Área do usuário</a></button>
                <!-- Add more menu items or pages as needed -->
            </ul>
        </nav>
    </header>
    {% if periodo == 'Quaresma' %}
    <div class="header-roxo"></div>
    {% elif periodo == 'Advento' %}
    <div class="header-roxo"></div>
    {% elif periodo == 'Tempo do Natal' %}
    <div class="header-branco"></div>
    {% elif periodo == 'Tempo Pascal' %}
    <div class="header-branco"></div>
    {% elif periodo == 'Tríduo Pascal' %}
    <div class="header-vermelho"></div>
    {% else %}
    <div class="header-verde"></div>
    {% endif %}
    {% block body %}
    <div class="corpo">
        <div class="festas">
            <img class="banner" src="{{ url_for('static',filename=periodo + '.png') }}">
            <div class="festas-texto">
                <p class="periodo">
                    {{ periodo }}
                </p>
                {% for festa in festas %}
                {% if festa.classe %}
                <p class="titulo-classe">
                    {{ festa.classe }}:
                </p>
                {% endif %}
                <p class="festa">
                    {{ festa.evento }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</html>