<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>Bom Católico</title>
    <!-- Add any additional meta tags, CSS or scripts here -->
</head>
<body>
    <header>
        <h1>Bom Católico</h1>
        <div class="user-space">
            {% if name %}
            <div class="dropdown">
                <button class="dropbtn">{{ name }}</button>
                <div class="dropdown-content">
                  <a href="#">Configurações</a>
                  <a href="{{ url_for('logout') }}">Sair</a>
                </div>
            </div>
            {% else %}
            <a class="link" href="{{url_for('register')}}">Criar conta</a>
            <a class="link" href="{{url_for('login')}}">Entrar</a>
            {% endif %}
        </div>
        <nav>
            <ul>
                <li><a href="#">Calendário litúrgico</a></li>
                <li><a href="#">Horários de missa</a></li>
                <li><a href="#">Marketplace</a></li>
                <li><a href="{{ url_for('userarea') }}">Área do usuário</a></li>
                <!-- Add more menu items or pages as needed -->
            </ul>
        </nav>
    </header>
</html>